.grocery-card{
    /* width: 100%; */
    border: 1px solid rgb(225, 221, 221);
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    margin: 10px;
}

.grocery-card:hover{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.g-card-first{
    width: 30%;
}

.g-card-img {
    /* width: 100%; */
    border-radius: 20px;
    /* height: auto; */
}

.g-card-content{
    width: 70%;
}